<div id="home" class="container-fluid">

  <h1 id="greeting">Welcome!</h1>

  <% if user_signed_in? %>
    <button type="button" id="main-btn" class="btn btn-default btn-lg">
      <a href="/blogs">My Blogs</a>
    </button>
    <button type="button" id="main-btn" class="btn btn-default btn-lg">
      <a href="/blog/new">Create Blog</a>
    </button>
    <button type="button" id="main-btn"class="btn btn-default btn-lg">
      <a href="/blogs">Explore</a>
    </button>
  <% else %>
    <button type="button" id="main-btn" class="btn btn-default btn-lg">
      <%= render 'devise/menu/login_items' %>
    </button>
    <button type="button" id="main-btn" class="btn btn-default btn-lg">
      <a href="/blogs">Explore</a>
    </button>
  <% end %>

</div>