/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 /*
 // require 'blogs'
 *= require font-awesome
 */


@import "bootstrap";

html{
  position: relative;
  min-height: 100%;
}

body {
font-family: 'Open Sans', sans-serif;
// font-family: 'Gentium Book Basic', serif;
text-align: center;
font-size: 16px;
color: black;
background: white;
margin-bottom: 3em;
}

/*-----------------------------navbar style----------------------------------*/

.navbar .navbar-transparent a, a:visited {
  color: gray;
  font-size: .7em;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:focus {
    color: #45ef9a;
    background-color: white;
    }

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar .navbar-toggle:hover {
  background-color: #45ef9a;
}

/*-----------------------------end navbar style ----------------------------------*/

#home {
  margin-top: 5%;
}

#greeting {
  font-size: 5em;
  // text-shadow: .02em .02em 0 gray;
}

#main-btn {
background: white;
list-style-type: none;
margin-top: 1.5em;
margin-right: 1em;
margin-left: 1em;
border: .2em solid black;
border-radius: .2em;
padding: 1.5em;
width: 200px;
// text-shadow: .05em .05em 0 gray;
// box-shadow: .05em .05em 0 gray;
  &:hover, &:active {
    letter-spacing: 5px;
    border: solid #45ef9a;
    }

  a {
    color:black;

  /* visited link */
    &:visited {
      color: black;
      text-decoration: none;
    }
    /* mouse over link */
    &:hover {
      // color: orange;
      text-decoration: none;
    }
  }
}


#sm-btn {
  background: white;
  list-style-type: none;
  margin-bottom: 1em;
  border: .2em solid black;
  border-radius: .2em;
  // padding: .8em;
  width: 200px;
  // text-shadow: .05em .05em 0 gray;
  // box-shadow: .05em .05em 0 gray;
    &:hover, &:active {
      letter-spacing: 5px;
      border: solid #45ef9a;
      }

    a {
      color:black;

    /* visited link */
      &:visited {
        color: black;
        text-decoration: none;
      }
      /* mouse over link */
      &:hover {
        // color: orange;
        text-decoration: none;
      }
  }
}


.footer {
  height: 3em;
  background-color: white;
  color: gray;
  padding-top: 1em;
  overflow: auto;
  position: absolute;
  bottom: 0em;
  width: 100%;
  left: 0;
  #year {
    text-align: left;
  }
  #code {
    text-align: right;
  }
  a {
    color: gray;
    &:visited {
      color: gray;
      text-decoration: none;
    }
    &:hover {
      color: #45ef9a;
      text-decoration: none;
    }
  }
}

.forms {
  background-color: white;
  padding: 1em 3em 3em 3em;
  border: solid black;
  border-radius: 0.3em;
  margin: 0 auto;
  width: 25em;
  text-align: center;
  color: black;
  a {
    color: gray;
    &:hover, &:active {
      text-decoration: none;
      color: #45ef9a;
    }
  }
}

.other-links {
    font-size: 0.8em;
    margin-top: 2em;
    padding: 10px;
    border: .2em solid black;
    border-radius: 0.5em;
    a {
      padding: 2px;
    }
  }


h1 {
  // text-shadow: .05em .05em 0 gray;
  padding-bottom: .5em;
  margin-top: 0;
}

.blog-page {
  width: 100%;
  height: 12em;
  white-space: normal;
  color: black;
  border: .2em solid black;
}


.entry {
  color: black;
  border: .1em solid black;
  background-color: white;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

 a:hover {
    color: #45ef9a;
    text-decoration: none;
  }
