// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blogs {
  position:absolute;
  width: 100%;
}

h1 {
  text-shadow: .02em .02em 0 gray;
  color: blue;
}